body {
    margin: 0px;
    padding: 0px;
}

#bar-frame-1 {
    position: relative;
    align-items: baseline;
    width: 300px; /* Total fixed width */
    height: 200px;
    background-color: lightgray;
}

.bar {
    position: absolute;
    background-color: black;
    left: 0px;
    margin: 0px;
    height: 100%;
}

form {
    width: 600px;
    height: 140px;
    border-width: 1px;
    border-color: #cccccc;
    border-style: solid;
    border-radius: 3px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    padding: 8px;
    border-radius: 3px;
    border-width: 1px;
    border-color:#cccccc;
    border-style: solid;
}

#create-bar-progress {
    margin: 0px;
}

button {
    background-color: #00bb00;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

